:global(body) {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}

body {
    min-height: 60vh;
    background-color: var(--main);
    margin: 0px;
    padding: 0px;
    overflow: overlay;
}

:root {
    --white: #FFFFFF;
    --main: #231e20;
    --secondary: #937780;
    --teritary: #a79095 ;
    --accent: #ffe2ec;
    --cms-finished: #6ae97b;
    --cms-doing: #ffd82a;
    --cms-dibs: #6aa1e9;
    --cms-free: #a8a8a8;
}

:root::-webkit-scrollbar {
    width: 6px;

    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

:root::-webkit-scrollbar-track {
    background: var(--main);
  }

:root::-webkit-scrollbar-thumb {
    background: var(--teritary);
    border-radius: 2px;

  }

:root::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
  }

::selection {
    background: var(--accent);
    color: var(--main);
  }

.content {
    font-family: Sarabun, Arial;
    color: var(--accent);
    margin-top: 30px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.bigtopic {
    text-align: center;
    font-family: Sarabun, Arial;
    font-size: 80px;
    font-weight: 800;
}

.topic {
    font-family: Sarabun, Arial;
    font-size: 70px;
    font-weight: 700;
}

.subtopic {
    font-size: 40px;
    font-weight: 600;
}

.walloftext {
    font-family: Sarabun, Arial;
    font-size: 16px;
    line-height: 1.8;
}

.walloftextlink {
    color: var(--accent);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    font-family: Sarabun, Arial;
    font-size: 16px;
    line-height: 1.8;
}

.walloftextlink:hover {
    color: var(--teritary);
    font-size: 16px;
    line-height: 1.8;
}

.top {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    margin-left: 10px;
}

.topbutton {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: Sarabun, Arial;
    font-size: 22px;
    color: var(--white);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.topbutton:hover {
    
    color: var(--white);
    border-radius: 16px;
    background-color: var(--teritary);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.image {
    border-radius: 16px;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.queuecontainer {
    display: flex;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.emptyspace {
    background-color: var(--main);
    height: 100px;
    width: 100px
}

.cmsbox {
    padding: 32px;
    margin: 8px;
    background-color: var(--main);
    border: 1px solid var(--secondary);
    border-radius: 8px;
}

.cmsstatus {
    font-size: 30px;
    font-weight: 500;
}

.cmssmallboxfin {
    background-color: var(--cms-finished);
    height: 16px;
    width: 16px;
    border-radius:  50%;
}

.cmssmallboxdo {
    background-color: var(--cms-doing);
    height: 16px;
    width: 16px;
    border-radius:  50%;
}

.cmssmallboxdibs {
    background-color: var(--cms-dibs);
    height: 16px;
    width: 16px;
    border-radius:  50%;
}

.cmssmallboxfree {
    background-color: var(--cms-free);
    height: 16px;
    width: 16px;
    border-radius: 50%;
}