:global(body) {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}

body {
    min-height: 60vh;
    background-color: var(--main);
    margin: 0px;
    padding: 0px;
}

:root {
    --main: #231e20;
    --secondary: #a79095;
    --accent: #ffe2ec;
    
}

:root::-webkit-scrollbar {
    width: 6px;

    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

:root::-webkit-scrollbar-track {
    background: #170a10;
  }

:root::-webkit-scrollbar-thumb {
    background: #260f1a;
    border-radius: 2px;

  }

:root::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
  }

::selection {
    background: var(--accent);
    color: var(--main);
  }

.content {
    font-family: Sarabun, Arial;
    color: var(--accent);
    margin-top: 30px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.topic {
    font-family: Sarabun, Arial;
    font-size: 70px;
    font-weight: 700;
}

.subtopic {
    font-size: 40px;
    font-weight: 600;
}

.walloftext {
    font-family: Sarabun, Arial;
    font-size: 16px;
    line-height: 1.8;
}

.top {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    margin: 5px;
    margin-left: 15px;
    color: var(--accent);
    -webkit-text-fill-color: var(--accent);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main);
    font-family: "Times New Roman";
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;

}